# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db
Desktop.ini

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Arquivos de ambiente
# ==========================
.env
.env.local

# ==========================
# Dependências
# ==========================
/vendor/
/node_modules/

# ==========================
# Cache
# ==========================
cache/
tmp/
temp/

# ==========================
# XAMPP
# ==========================
xampp-control.ini

# ==========================
# Backups
# ==========================
*.bak
*.old
*.tmp

# ==========================
# Dumps temporários
# ==========================
*.sql~

# ==========================
# Arquivos do sistema
# ==========================
*.zip
*.rar